#txt1 {
  font-size: 22px;
  line-height: 24px;
  color: black;
}
#txt2 {
  font-size: 22px;
  line-height: 24px;
  color: black;
}
#txt3 {
  font-size: 22px;
  line-height: 24px;
  color: black;
}
.material-symbols-outlined {
  display: inline-flex;
  vertical-align: top;
  color: black;
}
.p1 {
  font-family: "Pacifico", cursive;
}
.p4 {
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  size: 198px;
}
.im {
  font-family: "Fjalla One", sans-serif;
  s
}
