a:link {
    text-decoration: none;
}
h2 { 
color: black;

    font-family: 'Anton', sans-serif;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' -25,
    'opsz' 48
  }
  ul{ 
    list-style: none   ;
  }